.navbar {
	background-color: #e1e5f2;
}
body {
	background-color: #e1e5f2;
}
main {
	padding: 60px;
}
main > form {
	margin-top: 15%;
}
h1 {
	text-align: center;
}
img {
	max-width: 30%;
	border-radius: 5%;
	float: right;
}
@media only screen and (max-width: 1023px) {
	img {display: none;}
}