<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<title>Home</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/home_style.css">
    <script type="text/javascript" src="js/home.js"></script>

  	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Progetto meteo",
        "description": "Questo è il progetto di un'applicazione web che fornisce informazioni meteo di diversi luoghi del mondo, è stato sviluppato durante il corso di Programmazione Web e Mobile presso l'università degli studi di milano",
        "publisher": {
            "@type": "CollegeOrUniversity",
            "name": "Univerità degli studi di Milano"
        },
        "author": {
          "@type": "Person",
                  "givenName": "Gabriele",
                  "familyName": "Stentella",
                  "birthDate": "2002-09-06",
                  "taxID": "984491"
        }
    }
    </script>
  </head>

  <body>
  	<header>
  	  	<nav class="navbar navbar-expand-md navbar-light fixed-top">
  	    <div class="container-fluid">
  	      <a class="navbar-brand" href="home.html">Meteo</a>
  	      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  	        <span class="navbar-toggler-icon"></span>
  	      </button>
  	      <div class="collapse navbar-collapse" id="navbarCollapse">
  	        <ul class="navbar-nav me-auto mb-2 mb-md-0">
  	          <li class="nav-item">
  	            <a class="nav-link active" aria-current="page" href="home.html">Home</a>
  	          </li>
  	          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Località
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="search_milano">Milano</a></li>
                  <li><a class="dropdown-item" href="search_londra">Londra</a></li>
                  <li><a class="dropdown-item" href="search_parigi">Parigi</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="contact.html">Contattaci</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" id="openLogin">Pagina personale</a>
              </li>
  	        </ul>
            
  	        <form class="d-flex">
  	          <input class="form-control me-3" type="search" placeholder="Inserisci una località" aria-label="Search" id="search-loc">
  	          	<button class="btn btn-light" type="button" onclick="search()" id="search-button">
  		            <i class="bi bi-search"></i>
  				      </button>
  	        </form>
            <div class="placeholder"></div>
            <i class="bi bi-sun"></i>
            <div class="placeholder"></div>
            <span class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            </span>
            <i class="bi bi-moon"></i>
  	      </div>
  	    </div>
  	  </nav>
  	</header>

    <main>
      <div id="citycarousel" class="carousel slide" data-bs-ride="carousel">
          
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#citycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#citycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#citycarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <div class="caritem1">
                    <div class="overlay bg-wh">
                      <div class="city">
                        Milano <br>
                        <img id="mil-icon" alt="milan weather icon"><span id="mil-temp"></span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="caritem2">
                    <div class="overlay bg-wh">
                      <div class="city">
                        Londra <br>
                        <img id="lon-icon" alt="london weather icon"><span id="lon-temp"></span>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="carousel-item">
                  <div class="caritem3">
                    <div class="overlay bg-wh">
                      <div class="city">
                        Parigi <br>
                        <img id="par-icon" alt="paris weather icon"><span id="par-temp"></span>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          
          <button class="carousel-control-prev" type="button" data-bs-target="#citycarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#citycarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
      </div>

      <div id="popup" class="mod">
        <div id="logContent" class="mod-content">
          <span class="close">&times;</span>

          <div id="login">
            <h1>Login</h1>
            <form action = "http://127.0.0.1:3000/login" method = "POST">
              Username: <input class="form-control" type = "text" name = "user_id"><br>
              Password: <input class="form-control" type = "password" name = "pass"><br>
              <input class="btn btn-outline-light" type = "submit" value = "Invia">
            </form>
            <span class="link-secondary registerBtn">Non hai un account? Registrati</span>
          </div>

          <div id="register">
            <h1>Registrati:</h1>
            <form action = "http://127.0.0.1:3000/register" method = "POST">
              Nome: <input class="form-control" type="text" name="user_name"><br>
              Cognome: <input class="form-control" type="text" name="user_surname"><br>
              Username: <input class="form-control" type = "text" name = "user_id"><br>
              Password: <input class="form-control" type = "password" name = "pass"><br>
              Città principale: <input class="form-control" type = "text" name = "city"><br>
              <input class="btn btn-outline-light" type = "submit" value = "Invia"><br>
              <span class="link-secondary" id="loginBtn">Hai già un account? Accedi</span>
            </form>
          </div>
        </div>
      </div>

      <div id="error" class="alert alert-danger"></div>

      <div class="container">
        <div class="row centering">
          <div class="col-sm-auto">
            <div class="card" style="width: 21rem;">
            <div class="card-img-top ny"><div class="overlay bg-wh"></div></div>
            <img class="icon" id="ny-icon" alt="new york weather icon"> 
            <div class="card-body">
              <h5 class="card-title">New York</h5>
              <div class="temp"><i class="bi bi-thermometer-half"></i><p id="ny-temp"></p></div>
              <a href="search_new%20york" class="btn btn-outline-dark">Vedi</a>
            </div>
            </div>
          </div>

        <div class="col-sm-auto">
            <div class="card" style="width: 21rem;">
            <div class="card-img-top la"><div class="overlay bg-wh"></div></div>
            <img class="icon" id="la-icon" alt="los angeles weather icon"> 
            <div class="card-body">
              <h5 class="card-title">Los Angeles</h5>
              <div class="temp"><i class="bi bi-thermometer-half"></i><p id="la-temp"></p></div>
              <a href="search_los%20angeles" class="btn btn-outline-dark">Vedi</a>
            </div>
            </div>
          </div>

        <div class="col-sm-auto">
            <div class="card" style="width: 21rem;">
            <div class="card-img-top syd"><div class="overlay bg-wh"></div></div>
            <img class="icon" id="syd-icon" alt="sydney weather icon">
            <div class="card-body">
              <h5 class="card-title">Sydney</h5>
              <div class="temp"><i class="bi bi-thermometer-half"></i><p id="syd-temp"></p></div>
              <a href="search_sydney" class="btn btn-outline-dark">Vedi</a>
            </div>
            </div>
          </div>

        <div class="col-sm-auto">
            <div class="card" style="width: 21rem;">
            <div class="card-img-top tk"><div class="overlay bg-wh"></div></div>
            <img class="icon" id="tk-icon" alt="tokyo weather icon">
            <div class="card-body">
              <h5 class="card-title">Tokyo</h5>
              <div class="temp"><i class="bi bi-thermometer-half"></i><p id="tk-temp"></p></div>
              <a href="search_tokyo" class="btn btn-outline-dark">Vedi</a>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <hr class="featurette-divider">
        <div id="geolocation">
          <i class="bi bi-geo-alt-fill"></i>
          <h4 id="userLocation"></h4>
          <h5 id="user-weather"></h5>
          <div class="temp"><i class="bi bi-thermometer-half"></i><p id="user-temp"></p></div>
          <div class="temp"><i class="bi bi-wind"></i><p id="user-wind"></p></div>
          <div class="temp"><i class="bi bi-moisture"></i><p id="user-humidity"></p></div>
          <img class="rounded" id="user-photo" alt="user location">
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Il meteo su misura per te</h2>
            <p class="lead"><span class="link-secondary registerBtn">Registrati</span> ora e accedi alla tua pagina personale per avere previsioni accurate delle prossime 5 ore per la tua città.
            Grazie ai servizi di OpenWeather potrai vedere la temperatura, l'indice uv, la probabilità di precipitazione e le allerte meteo della tua zona per le prossime 5 ore</p>
          </div>
          <div id="decoration-icon" class="col-md-5 order-md-1">
            <i class="bi bi-cloud-sun"></i>
            <i class="bi bi-thermometer-half"></i>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>
    </main>

    <footer class="container">
        <p class="float-end"><a href="#" class="btn btn-outline-primary btn-sm"><i class="bi bi-arrow-up-circle"></i></a></p>
        <p>&copy; <span class="author">Gabriele Stentella</span> &middot; 2022 &middot; <a id="uni" href="https://www.unimi.it" class="btn btn-outline-primary btn-sm">UniMi</a></p>
    </footer>
  </body>
</html>