.navbar {
	background-color: #e1e5f2;
}

.caritem1 {
	height: 600px;
	background-image: url("/img_carousel/milano.jpeg");
	background-size: cover;
	color: black;
}

.caritem2 {
	height: 600px;
	background-image: url("/img_carousel/londra.jpeg");
	background-size: cover;
	color: black;
}

.caritem3 {
	height: 600px;
	background-image: url("/img_carousel/parigi.jpeg");
	background-size: cover;
	color: black;
}

.overlay {
	height: 100%;
	width: 100%;
}

.bg-bl {
	background-color: rgba(172,172,172,0.4);
}

.bg-wh {
	background-color: rgba(225, 229, 242, 0.4);
}

.city {
	position: relative;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-size: 40px;
}

.placeholder {
	width: 0.5%;
}

.card > .card-img-top.ny {
	background-image: url("/img_cards/nyc.jpeg");
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.la {
	background-image: url("/img_cards/la.jpeg");
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.syd {
	background-image: url("/img_cards/sydney.jpeg");
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.tk {
	background-image: url("/img_cards/tokyo.jpeg");
	background-size: cover;
	background-position: center;
	height: 150px;
}

.col-sm-auto {
	margin: 0 auto;
	padding: 5%;
}

.centering {
  	text-align: center;
}

.featurette > .col-md-5 {
	text-align: center;
	font-size: 150px;
}

body {
	background-color: #e1e5f2;
}

.temp > p , .temp > i , #geolocation > i , #geolocation > h4 {
	font-size: 22px;
	display: inline-block;
	margin-right: 10px;
}

.dark-mode {
	background-color: black;
	color: #dddddd;
}

@media only screen and (max-width: 770px){
	.form-check, .placeholder{
		display: inline-block;
		padding-top: 2%;
	}
}

@media (max-width: 345px) {
  #uni {
    display: none;
  }
}

@media (max-width: 360px) {
	#decoration-icon {
		display: none;
	}
}

.card > .icon {
	position: absolute;
  	left: 50%;
  	transform: translate(-50%, 0%);
  	top: 20%;
  	height: 5em;
  	width: 5em;
}

#geolocation {
	text-align: center;
}

.city > span {
	margin-right: 10px;
}