.navbar {
	background-color: #e1e5f2;
}

.caritem1 {
	height: 600px;
	background-image: url("/img_carousel/milano.avif");
	content-visibility: auto;
	background-size: cover;
	color: black;
}

.caritem2 {
	height: 600px;
	background-image: url("/img_carousel/londra.avif");
	content-visibility: auto;
	background-size: cover;
	color: black;
}

.caritem3 {
	height: 600px;
	background-image: url("/img_carousel/parigi.avif");
	content-visibility: auto;
	background-size: cover;
	color: black;
}

.overlay {
	height: 100%;
	width: 100%;
}

.bg-bl {
	background-color: rgba(172,172,172,0.4);
}

.bg-wh {
	background-color: rgba(225, 229, 242, 0.4);
}

.city {
	position: relative;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	text-align: center;
  	font-size: 40px;
}

.placeholder {
	width: 0.5%;
	color: #E2E5F1;
}

.card > .card-img-top.ny {
	background-image: url("/img_cards/nyc.avif");
	content-visibility: auto;
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.la {
	background-image: url("/img_cards/la.avif");
	content-visibility: auto;
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.syd {
	background-image: url("/img_cards/sydney.avif");
	content-visibility: auto;
	background-size: cover;
	background-position: center;
	height: 150px;
}

.card > .card-img-top.tk {
	background-image: url("/img_cards/tokyo.avif");
	content-visibility: auto;
	background-size: cover;
	background-position: center;
	height: 150px;
}

.col-sm-auto {
	margin: 0 auto;
	padding: 5%;
}

.centering {
  	text-align: center;
}

.featurette > .col-md-5 {
	text-align: center;
	font-size: 150px;
}

body {
	background-color: #e1e5f2;
}

.temp > p , .temp > i , #geolocation > i , #geolocation > h4 {
	font-size: 22px;
	display: inline-block;
	margin-right: 10px;
}

.dark-mode {
	background-color: black;
	color: #dddddd;
}


@media only screen and (max-width: 770px){
	.form-check, .placeholder{
		display: inline-block;
		padding-top: 2%;
	}
}

@media (max-width: 345px) {
  #uni {
    display: none;
  }
}

@media (max-width: 360px) {
	#decoration-icon {
		display: none;
	}
}

.card > .icon {
	position: absolute;
  	left: 50%;
  	transform: translate(-50%, 0%);
  	top: 15%;
  	height: 5em;
  	width: 5em;
}

#geolocation {
	text-align: center;
}

.city > span {
	margin-right: 10px;
}

.city > img {
	margin-right: 10px;
	width: 1.5em;
}

.mod {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
 }

.mod-content {
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  background-color: #1d3557;
  color: whitesmoke;
}

#register {
  display: none;
}

.close {
  color: whitesmoke;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

#login, #register {
	width: 100%;
}

#error {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 0;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}